################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Censo/.vs/Censo/v16/Server/sqlite3
